<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard Admin</title>
        <link rel="stylesheet" href="/public/css/style.css" />
    </head>
    <body>
        <h2>Dashboard Admin</h2>
        <button id="loadDashboard">Carregar Dashboard</button>
        <pre id="out"></pre>
        
        <script src="/public/js/admin.js"></script>
    </body>
</html>
